@use '@/assets/css/bootstrap-grid.min';
@use '@/assets/css/general';
@use '@/assets/css/header';
@use '@/assets/css/explorer';

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/UbuntuLightLatin.woff2) format('woff2');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/UbuntuLightItalicLatin.woff2) format('woff2');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/UbuntuLatin.woff2) format('woff2');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/UbuntuItalicLatin.woff2) format('woff2');
}